.row {
    margin-left: 20px;
}

.row__poster {
    /* object-fit keeps the aspect ratio */
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    /* This will add a minute delay in for transition eg: during hover over */
    transition: transform 450ms;
    margin-right: 15px;
}

.row__posters {
    /* display horizontally */
    display: flex;

    /* Enables horizontal scroll */
    overflow-y: hidden;
    overflow-x: scroll;

    /* Allows the growing up transition */
    padding: 20px;
}

.row__posterLarge {
    max-height: 300px;
}

 /* Didn't work on Chrome on Ubuntu. */
/* Don't display the scrollbar. but keep the functionality by gestures. */
/* .row__posters::-webkit-scrollbar {
    display: none;
} */

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge:hover {
    transform: scale(1.09);
}